.ting-visual-relation-activator.relvis-disabled,
.ting-visual-relation-activator.relvis-request {
  display: none;
}

.ting-object .ting-visual-relation-activator-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  width: 100%;
}

.ting-object .ting-visual-relation-activator {
  margin-bottom: 1.2em;
  padding: 0.5em 1.8em;
  width: 100%;
  border: none;
}

@media only screen and (min-width: 481px) {
  .ting-object .ting-visual-relation-activator-wrapper {
    padding-right: 0.5em;
    width: 50%;
  }

  .ting-object .ting-visual-relation-inner-wrapper .ting-visual-relation-activator-wrapper:last-child {
  padding-right: 0;
  }
}

@media only screen and (min-width: 769px) {
  .ting-object .ting-visual-relation-activator-wrapper {
    width: 13em;
  }
}

