/* Hide activators before pre-fetch and when disabled */
.ting-visual-relation-activator.relvis-disabled,
.ting-visual-relation-activator.relvis-request {
  display: none;
}

/* Basic styling of activators on ting objects */
.ting-object .ting-visual-relation-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.ting-object .ting-visual-relation-activator-wrapper {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
}

.ting-object .ting-visual-relation-activator-wrapper:first-child {
  margin-bottom: 20px;
}

.ting-object .ting-visual-relation-activator {
  width: 100%;
}

@media only screen and (min-width: 481px) {
  .ting-object .ting-visual-relation-activator-wrapper {
    width: 50%;
  }

  .ting-object .ting-visual-relation-activator-wrapper:first-child {
    padding-right: 0.5em;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 769px) {
  .ting-object .ting-visual-relation-activator-wrapper {
    width: 13em;
  }
}

/* Basic styling of activators on search-page. */
.pane-ting-visual-relation-search .ting-visual-relation-activator {
  width: 100%;
}

.secondary-content .pane-ting-visual-relation-search .ting-visual-relation-wrapper  {
  display: none;
  margin: 0px 5px 15px 5px;
}

.primary-content .pane-ting-visual-relation-search .ting-visual-relation-wrapper {
  margin: 20px 0px;
}

/*
 * On larger screens hide the activator in primary content and show the one in
 * secondary content (left sidebar)
 */
@media only screen and (min-width: 941px) {
  .secondary-content .pane-ting-visual-relation-search .ting-visual-relation-wrapper {
    display: block;
  }
  .primary-content .pane-ting-visual-relation-search .ting-visual-relation-wrapper {
    display: none;
  }
}
